@page "/chart"
<div>
    <div class="content-section introduction">
        <div class="feature-intro">
            <h1>ChartModel</h1>
            <p>Chart components are based on <a href="https://www.chartjs.org/">Charts.js</a>, an open source HTML5 based charting library.</p>
        </div>
    </div>

    <ChartDoc/>
</div>

@code {
    private object chartModel = new
    {
        labels = new string[] { "A", "B", "C" },
        datasets = new object[]
        {
            new
            {
                data=new int[]{300,50,100},
                backgroundColor=new string[]{"#FF6384","#36A2EB","#FFCE56"},
                hoverBackgroundColor= new string[]{"#FF6384", "#36A2EB", "#FFCE56"}
            }
        }
    };
}
