@page "/chart/pie"
<div>
    <div class="content-section introduction">
        <div class="feature-intro">
            <h1>Pie Chart</h1>
            <p>A pie chart is a circular statistical graphic, which is divided into slices to illustrate numerical proportion.</p>
        </div>
    </div>

    <div class="content-section implementation">
        <Chart type="pie" data="chartData" />
    </div>
</div>

@code {
    private object chartData = new
    {
        labels = new string[] { "A", "B", "C" },
        datasets = new object[]
        {
            new
            {
                data=new int[]{300,50,100},
                backgroundColor=new string[]{"#FF6384","#36A2EB","#FFCE56"},
                hoverBackgroundColor= new string[]{"#FF6384", "#36A2EB", "#FFCE56"}
            }
        }
    };
}
