@page "/fullcalendar"
@inject Service.EventService eventService
<div>
    <div class="content-section introduction">
        <div class="feature-intro">
            <h1>FullCalendar</h1>
            <p>An event calendar based on the <a href="https://fullcalendar.io/">FullCalendar</a> library.</p>
        </div>
    </div>

    <div class="content-section implementation">
        <FullCalendar events="events" options="options"/>
    </div>
    <FullCalendarDoc/>
</div>

@code {
    private List<Models.Event>? events = null;
    private object options = new
    {
        defaultDate="2024-01-01",
        header = new
        {
            left="prev,next",
            center="title",
            right = "'dayGridMonth,timeGridWeek,timeGridDay"
        },
        editable=true
    };
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            events = await eventService.getEvents();
            StateHasChanged();
        }
    }
}
