<div class="p-dataview-layout-options p-selectbutton p-buttonset">
    <Button CssClass="@buttonListClass" onclick='()=>changeLayout("list")'>
        <i class="pi pi-bars p-button-icon-left"></i>
        <span class="p-button-text p-clickable">p-btn</span>
    </Button>
    <Button CssClass="@buttonGridClass" @onclick='()=>changeLayout("grid")'>
        <i class="pi pi-th-large p-button-icon-left"></i>
        <span class="p-button-text p-clickable">p-btn</span>
    </Button>
</div>
@code {
    [Parameter] public string? value { get; set; } = null;
    [Parameter] public EventCallback<string> valueChanged{ get; set; }
    private string buttonListClass
    {
        get
        {
            string str = "p-button p-button-icon-only";
            if (this.value != null && this.value.Equals("list"))
                str += " p-highlight";
            return str;
        }
    }
    private string buttonGridClass
    {
        get
        {
            string str = "p-button p-button-icon-only";
            if (this.value != null && this.value.Equals("grid"))
                str += " p-highlight";
            return str;
        }
    }
    private async Task changeLayout(string layoutMode)
    {
        await valueChanged.InvokeAsync(layoutMode);
    }
}