<transition name="p-messages">
    @if (this.visible)
    {
        <div class="@containerClass">
            <div class="p-messages-wrapper">
                <span class="@iconClass"></span>
                <div class="p-messages-text">
                    @ChildContent
                </div>
                @if (this.closable)
                {
                    <button class="p-messages-close p-link" @onclick="()=>this.visible=false">
                        <i class="p-messages-close-icon pi pi-times"></i>
                    </button>
                }
            </div>
        </div>
    }
</transition>

@code {
    [Parameter] public string severity { get; set; } = "info";
    [Parameter] public bool closable { get; set; } = true;
    [Parameter] public bool sticky { get; set; } = true;
    [Parameter] public int life { get; set; } = 3000;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    private Timer? timer = null;
    private bool visible = true;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (!this.sticky)
            {
                SetTimer(() =>
                {
                    this.visible = false;
                }, this.life);
            }
        }
    }
    private void SetTimer(Action action, int delay)
    {
        timer = new Timer(_ =>
        {
            action();
            timer?.Dispose();
        }, null, delay, Timeout.Infinite);
    }
    private string containerClass
    {
        get
        {
            return "p-messages p-component p-messages-" + this.severity;
        }
    }
    private string iconClass
    {
        get
        {
            string str = "p-messages-icon pi";
            switch (this.severity)
            {
                case "info":
                    str += " pi-check";
                    break;
                case "success":
                    str += " pi-info-circle";
                    break;
                case "warn":
                    str += " pi-exclamation-triangle";
                    break;
                case "error":
                    str += " pi-times-circle";
                    break;
            }
            return str;
        }
    }
}