<div class="p-panel p-component" style="@style">
    <div class="p-panel-titlebar">
        @if (HeaderTemplate is not null)
        {
            @HeaderTemplate
        }
        else
        {
            <span class="p-panel-title" v-if="header">@header</span>
        }
        @if (toggleable)
        {
            <a tabindex="0" class="p-panel-titlebar-icon p-panel-titlebar-toggler" @onclick="toggle" @onkeydown="toggleKeyDown">
                <span class="@(!d_collapsed?"pi pi-minus":"pi pi-plus")"></span>
            </a>
        }
    </div>
    <transition name="p-panel-content-wrapper">
        <div class="p-panel-content-wrapper" style="display:@(!d_collapsed?"block":"none")">
            <div class="p-panel-content">
                @ChildContent
            </div>
        </div>
    </transition>
</div>

@code {
    [Parameter] public string header { get; set; } = string.Empty;
    [Parameter] public bool toggleable { get; set; }
    [Parameter] public bool collapsed{ get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? HeaderTemplate { get; set; }
    [Parameter] public string? style { get; set; } = null;
    private bool d_collapsed;
    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.TryGetValue(nameof(collapsed), out d_collapsed);
        return base.SetParametersAsync(parameters);
    }
    private void toggle()
    {
        this.d_collapsed = !this.d_collapsed;
    }
    private void toggleKeyDown(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key.Equals("Enter"))
        {
            this.toggle();
        }
    }
}
