<div class="@containerClass">
    @foreach (var msg in Messages)
    {
        <ToastMessage @key="msg.id" message="msg" close="remove" />
    }
</div>
@code {
    [Parameter] public string? group { get; set; }
    [Parameter] public string position { get; set; } = "topright";
    private List<Message> Messages = new List<Message>();
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ToastEventBus.on("add", (message) =>
            {
                Message obj = message as Message;
                if (!string.IsNullOrWhiteSpace(this.group))
                {
                    if (!string.IsNullOrWhiteSpace(obj.group))
                    {
                        if (this.group.Equals(obj.group))
                        {
                            this.add(obj);
                            StateHasChanged();
                        }
                    }
                }
                else
                {
                    this.add(obj);
                    StateHasChanged();
                }
            });
            ToastEventBus.on("removeGroup", (group) =>
            {
                if (!string.IsNullOrWhiteSpace(this.group) && this.group.Equals(group.ToString()))
                {
                    this.Messages.Clear();
                    StateHasChanged();
                }
            });
            ToastEventBus.on("removeAllGroups", () =>
            {
                this.Messages.Clear();
                StateHasChanged();
            });
        }
    }
    private void add(Message message)
    {
        this.Messages.Add(message);
    }
    private void remove(Message message)
    {
        int index = -1;
        for (int i = 0; i < this.Messages.Count; i++)
        {
            if (this.Messages[i].Equals(message))
            {
                index = i;
                break;
            }
        }
        this.Messages.RemoveAt(index);
        StateHasChanged();
    }
    private string containerClass
    {
        get
        {
            return "p-toast p-component p-toast-" + this.position;
        }
    }
}