<div aria-live="polite" class="p-message p-component p-message-error">
    <span class="@iconClass"></span>
    <span class="p-message-text">@ChildContent</span>
</div>
@code{
    [Parameter] public string severity { get; set; } = "error";
    [Parameter] public bool sticky { get; set; } = true;
    [Parameter] public int life { get; set; } = 3000;
    [Parameter] public RenderFragment? ChildContent{ get; set; }
    private bool visible=true;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (!this.sticky)
            {
                SetTimer(() =>
                {
                    this.visible = false;
                }, this.life);
            }
        }
    }
    private Timer? timer = null;
    private void SetTimer(Action action, int delay)
    {
        timer = new Timer(_ =>
        {
            action();
            timer?.Dispose();
        }, null, delay, Timeout.Infinite);
    }
    private string containerClass{
        get
        {
            return "p-message p-component p-message-" + this.severity;
        }
    }
    private string iconClass{
        get
        {
            string str = "p-message-icon pi";
            switch (this.severity)
            {
                case "info":
                    str += " pi-check";
                    break;
                case "success":
                    str += " pi-info-circle";
                    break;
                case "warn":
                    str += " pi-exclamation-triangle";
                    break;
                case "error":
                    str += " pi-times-circle";
                    break;
            }
            return str;
        }
    }
}