@page "/paginator"
<div>
    <div class="content-section introduction">
        <div class="feature-intro">
            <h1>Paginator</h1>
            <p>Paginator is a generic widget to display content in paged format.</p>
        </div>
    </div>

    <div class="content-section implementation">
        <h3 class="first">Default</h3>
        <Paginator first="first" rows="rows" totalRecords="120" onchange="onPageChange" rowsPerPageOptions="new List<int>(){10,20,30}"></Paginator>

        <h3 class="first">Custom Template</h3>
        <Paginator first="first2" rows="rows2" totalRecords="120" onchange="onPageChange2" template="FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"></Paginator>
    </div>
</div>
@code {
    private int first = 0;
    private int rows = 10;
    private int first2 = 0;
    private int rows2 = 10;
    private void onPageChange(PageState pageState)
    {
        this.first = pageState.first;
        this.rows = pageState.rows;
    }
    private void onPageChange2(PageState pageState)
    {
        this.first2 = pageState.first;
        this.rows2 = pageState.rows;
    }
}
