<div class="layout-topbar">
    <a class="menu-button" @onclick="async(e)=>await menubuttonClick.InvokeAsync(e)"><i class="pi pi-bars"></i></a>
    <NavLink href="/" class="logo">
        <img alt="logo" src="./assets/images/primevue-logo.png">
    </NavLink>
    <ul class="topbar-menu">
        <li><NavLink href="/setup">Get Started</NavLink></li>
        <li class="topbar-menu-themes">
            <a>Themes</a>
            <ul>
                <li class="topbar-submenu-header">THEMING</li>
                <li class="topbar-submenu-header">FREE THEMES</li>
            </ul>
        </li>
        <li><NavLink href="/support">Support</NavLink></li>
    </ul>
</div>
@code{
    [Parameter] public EventCallback<MouseEventArgs> menubuttonClick{get;set;}
}